version: "3.9"

services:
  laravel:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - ./backend:/var/www/html
    working_dir: /var/www/html
    command: php-fpm
    expose:
      - "9000"
    depends_on:
      - redis
      - soketi

  soketi:
    image: quay.io/soketi/soketi:latest
    container_name: soketi-server
    ports:
      - "6001:6001"
    environment:
      SOKETI_DEFAULT_APP_ID: app-id
      SOKETI_DEFAULT_APP_KEY: app-key
      SOKETI_DEFAULT_APP_SECRET: app-secret
      SOKETI_METRICS_ENABLED: "false" # supaya ringan
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "80:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/laravel.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel
      - soketi

  redis:
    image: redis:alpine
    container_name: redis-server
    ports:
      - "6379:6379"
